body{
  font-family:Arial, Helvetica, sans-serif;
  text-transform:none ;
}

table,th,td{
  border:1px solid blue;
  border-collapse:collapse;
  text-align:center;
    margin:1px;
    padding:20px;
}
table{
  width:600px 
}
img{
  width:200px;
}

p, a {text-trasform:lowercase}

p{
  font-size:20px; }

a{
  font-size:14px; }
   
